@using ViewModel;

@model  RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<div class="row">
    <form action="/home/login" method="post" id="frmRegister">
        <div class="form-group">
            <label for="Email">Email address:</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email Address", @required = "true" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            <label for="Email">User Name:</label>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter Email Address", @required = "true" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password", @required = "true" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            <label for="Password">Confirm Password:</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Enter password", @required = "true" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary" id="btnLogin" />
        </div>
    </form>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Site.js"></script>
}

